<a href="https://colab.research.google.com/github/kayleyyoung253/Final-Capstone-Deliverable/blob/main/Cleaned2012_2022CourseData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
#Read in the file
df = pd.read_excel('Cleaned_2012_2022CourseData (1).xlsx')

#adding column and moving to front
df['Name']=df['Librarian']
col1=df.pop('Name')
df.insert(0,'Name',col1)

#first row has test data- deleting it
df.drop(index=df.index[0], axis=0, inplace=True)

#renaming column names to match
mapping = {
    df.columns[0]:'Name',
    df.columns[1]: 'Librarian',
    df.columns[2]: 'Quarter',
    df.columns[3]: 'Department',
    df.columns[4]: 'Course',
    df.columns[5]: 'Section Number',
    df.columns[6]: 'Instructor',
    df.columns[7]: 'Number of Students',
    df.columns[8]: 'Number of Sessions',
}
df = df.rename(columns=mapping)

#reformat quarters
df['Quarter']=df['Quarter'].str.replace('C016:  2021-22 Fall','Fall 2021')
df['Quarter']=df['Quarter'].str.replace('C012:  2020-21 Fall','Fall 2020')
df['Quarter']=df['Quarter'].str.replace('B902:  2019-20 Fall','Fall 2019')
df['Quarter']=df['Quarter'].str.replace('B892:  2018-19 Fall','Fall 2018')
df['Quarter']=df['Quarter'].str.replace('B782:  2017-18 Fall','Fall 2017')
df['Quarter']=df['Quarter'].str.replace('B672:  2016-17 Fall','Fall 2016')
df['Quarter']=df['Quarter'].str.replace('B562:  2015-16 Fall','Fall 2015')
df['Quarter']=df['Quarter'].str.replace('B452:  2014-15 Fall','Fall 2014')

df['Quarter']=df['Quarter'].str.replace('C016: 2021-22 Fall','Fall 2021')
df['Quarter']=df['Quarter'].str.replace('C012: 2020-21 Fall','Fall 2020')
df['Quarter']=df['Quarter'].str.replace('B902: 2019-20 Fall','Fall 2019')
df['Quarter']=df['Quarter'].str.replace('B892: 2018-19 Fall','Fall 2018')
df['Quarter']=df['Quarter'].str.replace('B782: 2017-18 Fall','Fall 2017')
df['Quarter']=df['Quarter'].str.replace('B672: 2016-17 Fall','Fall 2016')
df['Quarter']=df['Quarter'].str.replace('B562: 2015-16 Fall','Fall 2015')
df['Quarter']=df['Quarter'].str.replace('B452: 2014-15 Fall','Fall 2014')

df['Quarter']=df['Quarter'].str.replace('C017:  2021-22 Winter','Winter 2022')
df['Quarter']=df['Quarter'].str.replace('C013:  2020-21 Winter','Winter 2021')
df['Quarter']=df['Quarter'].str.replace('B903:  2019-20 Winter','Winter 2020')
df['Quarter']=df['Quarter'].str.replace('B893:  2018-19 Winter','Winter 2019')
df['Quarter']=df['Quarter'].str.replace('B783:  2017-18 Winter','Winter 2018')
df['Quarter']=df['Quarter'].str.replace('B673:  2016-17 Winter','Winter 2017')
df['Quarter']=df['Quarter'].str.replace('B563:  2015-16 Winter','Winter 2016')
df['Quarter']=df['Quarter'].str.replace('B453:  2014-15 Winter','Winter 2015')
df['Quarter']=df['Quarter'].str.replace('B343:  2013-14 Winter','Winter 2014')

df['Quarter']=df['Quarter'].str.replace('C017: 2021-22 Winter','Winter 2022')
df['Quarter']=df['Quarter'].str.replace('C013: 2020-21 Winter','Winter 2021')
df['Quarter']=df['Quarter'].str.replace('B903: 2019-20 Winter','Winter 2020')
df['Quarter']=df['Quarter'].str.replace('B893: 2018-19 Winter','Winter 2019')
df['Quarter']=df['Quarter'].str.replace('B783: 2017-18 Winter','Winter 2018')
df['Quarter']=df['Quarter'].str.replace('B673: 2016-17 Winter','Winter 2017')
df['Quarter']=df['Quarter'].str.replace('B563: 2015-16 Winter','Winter 2016')
df['Quarter']=df['Quarter'].str.replace('B453: 2014-15 Winter','Winter 2015')
df['Quarter']=df['Quarter'].str.replace('B343: 2013-14 Winter','Winter 2014')

df['Quarter']=df['Quarter'].str.replace('C018:  2021-22 Spring','Spring 2022')
df['Quarter']=df['Quarter'].str.replace('C014:  2020-21 Spring','Spring 2021')
df['Quarter']=df['Quarter'].str.replace('B904:  2019-20 Spring','Spring 2020')
df['Quarter']=df['Quarter'].str.replace('B894:  2018-19 Spring','Spring 2019')
df['Quarter']=df['Quarter'].str.replace('B784:  2017-18 Spring','Spring 2018')
df['Quarter']=df['Quarter'].str.replace('B674:  2016-17 Spring','Spring 2017')
df['Quarter']=df['Quarter'].str.replace('B564:  2015-16 Spring','Spring 2016')
df['Quarter']=df['Quarter'].str.replace('B454:  2014-15 Spring','Spring 2015')
df['Quarter']=df['Quarter'].str.replace('B344:  2013-14 Spring','Spring 2014')

df['Quarter']=df['Quarter'].str.replace('C018: 2021-22 Spring','Spring 2022')
df['Quarter']=df['Quarter'].str.replace('C014: 2020-21 Spring','Spring 2021')
df['Quarter']=df['Quarter'].str.replace('B904: 2019-20 Spring','Spring 2020')
df['Quarter']=df['Quarter'].str.replace('B894: 2018-19 Spring','Spring 2019')
df['Quarter']=df['Quarter'].str.replace('B784: 2017-18 Spring','Spring 2018')
df['Quarter']=df['Quarter'].str.replace('B674: 2016-17 Spring','Spring 2017')
df['Quarter']=df['Quarter'].str.replace('B564: 2015-16 Spring','Spring 2016')
df['Quarter']=df['Quarter'].str.replace('B454: 2014-15 Spring','Spring 2015')
df['Quarter']=df['Quarter'].str.replace('B344: 2013-14 Spring','Spring 2014')

df['Quarter']=df['Quarter'].str.replace('C011:  2020-21 Summer','Summer 2021')
df['Quarter']=df['Quarter'].str.replace('B901:  2019-20 Summer','Summer 2020')
df['Quarter']=df['Quarter'].str.replace('B891:  2018-19 Summer','Summer 2019')
df['Quarter']=df['Quarter'].str.replace('B781:  2017-18 Summer','Summer 2018')
df['Quarter']=df['Quarter'].str.replace('B671:  2016-17 Summer','Summer 2017')
df['Quarter']=df['Quarter'].str.replace('B561:  2015-16 Summer','Summer 2016')
df['Quarter']=df['Quarter'].str.replace('B451:  2014-15 Summer','Summer 2015')
df['Quarter']=df['Quarter'].str.replace('B341:  2013-14 Summer','Summer 2014')

df['Quarter']=df['Quarter'].str.replace('C011: 2020-21 Summer','Summer 2021')
df['Quarter']=df['Quarter'].str.replace('B901: 2019-20 Summer','Summer 2020')
df['Quarter']=df['Quarter'].str.replace('B891: 2018-19 Summer','Summer 2019')
df['Quarter']=df['Quarter'].str.replace('B781: 2017-18 Summer','Summer 2018')
df['Quarter']=df['Quarter'].str.replace('B671: 2016-17 Summer','Summer 2017')
df['Quarter']=df['Quarter'].str.replace('B561: 2015-16 Summer','Summer 2016')
df['Quarter']=df['Quarter'].str.replace('B451: 2014-15 Summer','Summer 2015')
df['Quarter']=df['Quarter'].str.replace('B341: 2013-14 Summer','Summer 2014')

#reformat order of librarian name
df['Librarian']=df['Librarian'].str.replace('Rohan, Jennifer','Jennifer Rohan')
df['Librarian']=df['Librarian'].str.replace('Bull, Alaina','Alaina Bull')
df['Librarian']=df['Librarian'].str.replace('Chin, Amanda','Amanda Chin')
df['Librarian']=df['Librarian'].str.replace('Cunnion, Katie','Katie Cunnion')
df['Librarian']=df['Librarian'].str.replace('DelliSante, Christina','Christina DelliSante')
df['Librarian']=df['Librarian'].str.replace('Fisher, Zoe','Zoe Fisher')
df['Librarian']=df['Librarian'].str.replace('Jeffries, Heather','Heather Jeffries')
df['Librarian']=df['Librarian'].str.replace('Jocson, Alyssa','Alyssa Jocson')
df['Librarian']=df['Librarian'].str.replace('Keany, Mary','Mary Keany')
df['Librarian']=df['Librarian'].str.replace('Knight, Elizabeth','Elizabeth Knight')
df['Librarian']=df['Librarian'].str.replace('MacKenzie, Marji','Marji MacKenzie')
df['Librarian']=df['Librarian'].str.replace('Petrich, Marisa','Marisa Petrich')
df['Librarian']=df['Librarian'].str.replace('Reibel, Allison','Allison Reibel')
df['Librarian']=df['Librarian'].str.replace('Schub, Sue','Sue Schub')
df['Librarian']=df['Librarian'].str.replace('Segal, Jody','Jody Segal')
df['Librarian']=df['Librarian'].str.replace('Straton, Katie','Katie Straton')
df['Librarian']=df['Librarian'].str.replace('Whitford, Philip','Philip Whitford')
df['Librarian']=df['Librarian'].str.replace('Wood, Mike','Mike Wood')

df['Name']=df['Name'].str.replace('Rohan, Jennifer','Jennifer Rohan')
df['Name']=df['Name'].str.replace('Bull, Alaina','Alaina Bull')
df['Name']=df['Name'].str.replace('Chin, Amanda','Amanda Chin')
df['Name']=df['Name'].str.replace('Cunnion, Katie','Katie Cunnion')
df['Name']=df['Name'].str.replace('DelliSante, Christina','Christina DelliSante')
df['Name']=df['Name'].str.replace('Fisher, Zoe','Zoe Fisher')
df['Name']=df['Name'].str.replace('Jeffries, Heather','Heather Jeffries')
df['Name']=df['Name'].str.replace('Jocson, Alyssa','Alyssa Jocson')
df['Name']=df['Name'].str.replace('Keany, Mary','Mary Keany')
df['Name']=df['Name'].str.replace('Knight, Elizabeth','Elizabeth Knight')
df['Name']=df['Name'].str.replace('MacKenzie, Marji','Marji MacKenzie')
df['Name']=df['Name'].str.replace('Petrich, Marisa','Marisa Petrich')
df['Name']=df['Name'].str.replace('Reibel, Allison','Allison Reibel')
df['Name']=df['Name'].str.replace('Schub, Sue','Sue Schub')
df['Name']=df['Name'].str.replace('Segal, Jody','Jody Segal')
df['Name']=df['Name'].str.replace('Straton, Katie','Katie Straton')
df['Name']=df['Name'].str.replace('Whitford, Philip','Philip Whitford')
df['Name']=df['Name'].str.replace('Wood, Mike','Mike Wood')

#reformat order of instuctor name
df['Instructor']=df['Instructor'].str.replace('Abdulkader, Alan','Abdulkader')
df['Instructor']=df['Instructor'].str.replace('Adams, Avis','Adams')
df['Instructor']=df['Instructor'].str.replace('Allen, Rebeca','Allen')
df['Instructor']=df['Instructor'].str.replace('Anderson, Kelly','Anderson, K.')
df['Instructor']=df['Instructor'].str.replace('Andresen, Third','Andresen, T.')
df['Instructor']=df['Instructor'].str.replace('Aranda, Heidi','Aranda')
df['Instructor']=df['Instructor'].str.replace('Arnold, Ashlyn','Arnold')
df['Instructor']=df['Instructor'].str.replace('Arvidson, Valerie','Arvidson')
df['Instructor']=df['Instructor'].str.replace('Ash, Janet' ,'Ash')
df['Instructor']=df['Instructor'].str.replace('Avery, John','Avery')
df['Instructor']=df['Instructor'].str.replace('Avery; Martin, Glen','Avery; Martin, G.')
df['Instructor']=df['Instructor'].str.replace('Avery, John; Martin, Glen','Avery; Martin, G.')
df['Instructor']=df['Instructor'].str.replace('Bahl, Vik','Bahl')
df['Instructor']=df['Instructor'].str.replace('Bahnsen, Morna','Bahnsen')
df['Instructor']=df['Instructor'].str.replace('Baker, Susan','Baker')
df['Instructor']=df['Instructor'].str.replace('Ballard, Southern','Ballard')
df['Instructor']=df['Instructor'].str.replace('Banks, Jashon','Banks')
df['Instructor']=df['Instructor'].str.replace('Barr, Susannah','Barr')
df['Instructor']=df['Instructor'].str.replace('Barrington, Marc','Barrington')
df['Instructor']=df['Instructor'].str.replace('Bartley, Nancy','Bartley')
df['Instructor']=df['Instructor'].str.replace('Batchelor, Susan','Batchelor')
df['Instructor']=df['Instructor'].str.replace('Batchelor; Mumpower, Patrick','Batchelor; Mumpower')
df['Instructor']=df['Instructor'].str.replace('Batchelor, Susan; Mumpower, Patrick','Batchelor; Mumpower')
df['Instructor']=df['Instructor'].str.replace('Beals, Emily','Beals')
df['Instructor']=df['Instructor'].str.replace('Bean, Robert; Corrin, Genevieve','Bean; Corrin')
df['Instructor']=df['Instructor'].str.replace('Behrbaum, Mike','Behrbaum')
df['Instructor']=df['Instructor'].str.replace('Berry-Chee, Hannah','Berry-Chee')
df['Instructor']=df['Instructor'].str.replace('Berry-Chee; Jabbouri, Fidaa','Berry-Chee; Jabbouri')
df['Instructor']=df['Instructor'].str.replace('Berry-Chee; Medvedeff, Michelle','Berry-Chee; Medvedeff')
df['Instructor']=df['Instructor'].str.replace('Berry-Chee, Hannah; Jabbouri, Fidaa; Medvedeff, Michelle','Berry-Chee; Jabbouri; Medvedeff')
df['Instructor']=df['Instructor'].str.replace('Berry-Chee; Jabbouri, Fidaa; Medvedeff, Michelle','Berry-Chee; Jabbouri; Medvedeff')
df['Instructor']=df['Instructor'].str.replace('Berry-Chee; Medvedeff, Michelle; Jabbouri, Fidaa','Berry-Chee; Jabbouri; Medvedeff')
df['Instructor']=df['Instructor'].str.replace('Berry-Chee, Hannah; Kwon, Eunice','Berry-Chee; Kwon')
df['Instructor']=df['Instructor'].str.replace('Berry-Chee; Kwon, Eunice','Berry-Chee; Kwon')
df['Instructor']=df['Instructor'].str.replace('Berry-Chee, Hannah; Manzer, Mike','Berry-Chee; Manzer')
df['Instructor']=df['Instructor'].str.replace('Berry-Chee; Manzer, Mike','Berry-Chee; Manzer')
df['Instructor']=df['Instructor'].str.replace('Berry-Chee, Hannah; Manzer, Mike; Jabbouri, Fidaa','Berry-Chee; Manzer; Jabbouri')
df['Instructor']=df['Instructor'].str.replace('Berry-Chee; Manzer, Mike; Jabbouri, Fidaa','Berry-Chee; Manzer; Jabbouri')
df['Instructor']=df['Instructor'].str.replace('Berry-Chee, Hannah; Milloy, Cynthia','Berry-Chee; Milloy')
df['Instructor']=df['Instructor'].str.replace('Berry-Chee; Milloy, Cynthia','Berry-Chee; Milloy')
df['Instructor']=df['Instructor'].str.replace('Blackburn, Garth','Blackburn')
df['Instructor']=df['Instructor'].str.replace('Bodas, Kanchan','Bodas')
df['Instructor']=df['Instructor'].str.replace('Bones, Alicia','Bones')
df['Instructor']=df['Instructor'].str.replace('Boroughs, Kyle; Corrin','Boroughs; Corrin')
df['Instructor']=df['Instructor'].str.replace('Bouchard, Kimberly','Bouchard')
df['Instructor']=df['Instructor'].str.replace('Bowlden?','Bowlden',regex=False)
df['Instructor']=df['Instructor'].str.replace('Bowlden, ?','Bowlden',regex=False)
df['Instructor']=df['Instructor'].str.replace('Bowles, Robin','Bowles')
df['Instructor']=df['Instructor'].str.replace('Brann, Sam; Davis, Allison; Medvedeff, Michelle','Brann; Davis; Medvedeff')
df['Instructor']=df['Instructor'].str.replace('Brann, Sam; Kwon, Eunice','Brann; Kwon')
df['Instructor']=df['Instructor'].str.replace('Brann, Sam; Sanders, Matthew','Brann; Sanders')
df['Instructor']=df['Instructor'].str.replace('Bruce, Andrew','Bruce')
df['Instructor']=df['Instructor'].str.replace('Buester, ?; Per, ?','Buester; Per',regex=False)
df['Instructor']=df['Instructor'].str.replace('Bumstead, Andrew','Bumstead')
df['Instructor']=df['Instructor'].str.replace('Butcher, Mary','Butcher')
df['Instructor']=df['Instructor'].str.replace('Campbell, Emily','Campbell')
df['Instructor']=df['Instructor'].str.replace('Carrier, Rebecca','Carrier')
df['Instructor']=df['Instructor'].str.replace('Carter, Brazell','Carter')
df['Instructor']=df['Instructor'].str.replace('Centauri, Laurie','Centauri')
df['Instructor']=df['Instructor'].str.replace('Chase, Elaine','Chase')
df['Instructor']=df['Instructor'].str.replace('Ciscell, Galen','Ciscell')
df['Instructor']=df['Instructor'].str.replace('Clark, Chris','Clark, C.')
df['Instructor']=df['Instructor'].str.replace('Clark, Lori','Clark, L.')
df['Instructor']=df['Instructor'].str.replace('Clausen, Andrea','Clausen')
df['Instructor']=df['Instructor'].str.replace('Clay, Keith','Clay')
df['Instructor']=df['Instructor'].str.replace('Cooke, Sam; Gustafson, Amy','Cooke; Gustafson')
df['Instructor']=df['Instructor'].str.replace('Cooke, Sam; Mueller, Sonja','Cooke; Mueller')
df['Instructor']=df['Instructor'].str.replace('Cooke, Sam; Roberge, Nadine','Cooke; Roberge')
df['Instructor']=df['Instructor'].str.replace('Cooke, Sam; Terapy, Eugene','Cooke; Terapy')
df['Instructor']=df['Instructor'].str.replace('Corey, Jeffrey','Corey')
df['Instructor']=df['Instructor'].str.replace('Corrin, Genevieve','Corrin')
df['Instructor']=df['Instructor'].str.replace('Crawford, Joy','Crawford')
df['Instructor']=df['Instructor'].str.replace('Creek, Randall','Creek')
df['Instructor']=df['Instructor'].str.replace('Dailey, Katie','Dailey')
df['Instructor']=df['Instructor'].str.replace('Davis, Allison; Berry-Chee; Brann, Sam; Longo, Elizabeth, Medvedeff, Michelle','Davis; Berry-Chee; Brann; Longo; Medvedeff')
df['Instructor']=df['Instructor'].str.replace('Davis, Allison; Manzer, Michael; Long, Elizabeth','Davis; Manzer; Longo')
df['Instructor']=df['Instructor'].str.replace('Decker, Shaunie','Decker')
df['Instructor']=df['Instructor'].str.replace('Denton, Kelsey','Denton')
df['Instructor']=df['Instructor'].str.replace('Dievendorf, Scott','Dievendorf')
df['Instructor']=df['Instructor'].str.replace('DelliSante, Christina; Keany, Mary; Stratton; Whitford','DelliSante; Keany; Stratton; Whitford')
df['Instructor']=df['Instructor'].str.replace('Dixon-Hundredmark, Christine','Dixon-Hundredmark')
df['Instructor']=df['Instructor'].str.replace('Dolan, Anne','Dolan')
df['Instructor']=df['Instructor'].str.replace('Dolan; Crose, Heidi','Dolan; Crose')
df['Instructor']=df['Instructor'].str.replace('Dolan, Anne; Crose, Heidi','Dolan; Crose')
df['Instructor']=df['Instructor'].str.replace('Duldulao, Neil','Duldulao')
df['Instructor']=df['Instructor'].str.replace('Duman, Yoav','Duman')
df['Instructor']=df['Instructor'].str.replace('Duva, Catherine','Duva')
df['Instructor']=df['Instructor'].str.replace('Egesi, Laeticia','Egesi')
df['Instructor']=df['Instructor'].str.replace('Elfers, Richard','Elfers')
df['Instructor']=df['Instructor'].str.replace('Elwin, Ty','Elwin')
df['Instructor']=df['Instructor'].str.replace('Falconer, John','Falconer, J.')
df['Instructor']=df['Instructor'].str.replace('Falconer, Liz','Falconer, L.')
df['Instructor']=df['Instructor'].str.replace('Fellers, Charlotte','Fellers')
df['Instructor']=df['Instructor'].str.replace('Ferguson, Loretta','Ferguson')
df['Instructor']=df['Instructor'].str.replace('Ferreira, Rebeka','Ferreira')
df['Instructor']=df['Instructor'].str.replace('Finnsson, Lisa','Finnsson')
df['Instructor']=df['Instructor'].str.replace('Fishburn, Lori','Fishburn')
df['Instructor']=df['Instructor'].str.replace('Fitzgerald, Jamie','Fitzgerald')
df['Instructor']=df['Instructor'].str.replace('Fleites-Lear, Marisela','Fleites-Lear')
df['Instructor']=df['Instructor'].str.replace('Ford, Byron','Ford')
df['Instructor']=df['Instructor'].str.replace('Frazier, Callae','Frazier')
df['Instructor']=df['Instructor'].str.replace('Frye, Jake','Frye')
df['Instructor']=df['Instructor'].str.replace('Gaim, Tsega','Gaim')
df['Instructor']=df['Instructor'].str.replace('Gallo-Brown, Alex','Gallo-Brown')
df['Instructor']=df['Instructor'].str.replace('Galmish, Hank','Galmish')
df['Instructor']=df['Instructor'].str.replace('Gardner, Miranda','Gardner')
df['Instructor']=df['Instructor'].str.replace('Garrott, Joanne','Garrott')
df['Instructor']=df['Instructor'].str.replace('Giilsgaard Nielsen, Alice','Giilsgaard Nielsen')
df['Instructor']=df['Instructor'].str.replace('Gilbert, Benjamin','Gilbert')
df['Instructor']=df['Instructor'].str.replace('Golke-Bahnsen, Morna','Golke-Bahnsen')
df['Instructor']=df['Instructor'].str.replace('Gollen, Alka','Gollen')
df['Instructor']=df['Instructor'].str.replace('Goodwin, Linda','Goodwin')
df['Instructor']=df['Instructor'].str.replace('Gustafson, Amy','Gustafson')
df['Instructor']=df['Instructor'].str.replace('Gustafson, Amy; Morado, Carlos','Gustafson; Morado')
df['Instructor']=df['Instructor'].str.replace('Han, Hae lin','Han')
df['Instructor']=df['Instructor'].str.replace('Han, Hae Lin','Han')
df['Instructor']=df['Instructor'].str.replace('Hatfield, Jeanine','Hatfield')
df['Instructor']=df['Instructor'].str.replace('Hawkes, C.','Hawkes',regex=False)
df['Instructor']=df['Instructor'].str.replace('Henderickson, Wendy','Henderickson')
df['Instructor']=df['Instructor'].str.replace('Hendricks, Beverly','Hendricks')
df['Instructor']=df['Instructor'].str.replace('Hicks, Allison','Hicks')
df['Instructor']=df['Instructor'].str.replace('Higgins, Kirsten','Higgins')
df['Instructor']=df['Instructor'].str.replace('Hillman, Rhiannon','Hillman')
df['Instructor']=df['Instructor'].str.replace('Hoffman, Stephanie','Hoffman')
df['Instructor']=df['Instructor'].str.replace('Holland, Jennifer','Holland')
df['Instructor']=df['Instructor'].str.replace('Holland, Jennifer; Berry-Chee, Hannah','Holland; Berry-Chee')
df['Instructor']=df['Instructor'].str.replace('Hoppe, Katherine','Hoppe')
df['Instructor']=df['Instructor'].str.replace('Howell Anselmi, Amy','Howell Anselmi')
df['Instructor']=df['Instructor'].str.replace('Jabbouri, Fidaa','Jabbouri')
df['Instructor']=df['Instructor'].str.replace('Jabbouri; Grenseman, Patricia','Jabbouri; Grenseman')
df['Instructor']=df['Instructor'].str.replace('Jabbouri; Kwon, Eunice','Jabbouri; Kwon')
df['Instructor']=df['Instructor'].str.replace('Jabbouri; Millow, Cynthia','Jabbouri; Millow')
df['Instructor']=df['Instructor'].str.replace('Jabbouri; Berry-Chee; Medvedeff, Michele','Berry-Chee; Jabbouri; Medvedeff')
df['Instructor']=df['Instructor'].str.replace('Jabbouri, Fidaa; Berry-Chee, Hannah; Medvedeff, Michele','Berry-Chee; Jabbouri; Medvedeff')
df['Instructor']=df['Instructor'].str.replace('Jabbouri; Berry-Chee; Medvedeff, Michele','Berry-Chee; Jabbouri; Medvedeff')
df['Instructor']=df['Instructor'].str.replace('Jabbouri, Fidaa; Berry-Chee, Hannah','Berry-Chee; Jabbouri')
df['Instructor']=df['Instructor'].str.replace('Jabbouri, Fidaa; Kwon, Eunice','Jabbouri; Kwon')
df['Instructor']=df['Instructor'].str.replace('Jabbouri, Fidaa; Millow, Cynthia','Jabbouri; Millow')
df['Instructor']=df['Instructor'].str.replace('Jackson, Deborah','Jackson')
df['Instructor']=df['Instructor'].str.replace('James, Tara','James')
df['Instructor']=df['Instructor'].str.replace('Jeffries, Marshall','Jeffries, M.')
df['Instructor']=df['Instructor'].str.replace('Jeffries, Heather; Whitford','Jeffries, H.; Whitford')
df['Instructor']=df['Instructor'].str.replace('Johanson, Sandra','Johanson')
df['Instructor']=df['Instructor'].str.replace('Johnson, Brad','Johnson B.')
df['Instructor']=df['Instructor'].str.replace('Johnson, Todd','Johnson T.')
df['Instructor']=df['Instructor'].str.replace('Jumper, Jessica','Jumper')
df['Instructor']=df['Instructor'].str.replace('Kahdim, Mahdi','Kahdim')
df['Instructor']=df['Instructor'].str.replace('Katims, Kate','Katims')
df['Instructor']=df['Instructor'].str.replace('Keene, Sara','Keene')
df['Instructor']=df['Instructor'].str.replace('Kessler, Leslie','Kessler')
df['Instructor']=df['Instructor'].str.replace('Kikillus, Pam','Kikillus')
df['Instructor']=df['Instructor'].str.replace('Kinerk, Colleen','Kinerk')
df['Instructor']=df['Instructor'].str.replace('Kleckner, Adie','Kleckner')
df['Instructor']=df['Instructor'].str.replace('Knowlton, John','Knowlton')
df['Instructor']=df['Instructor'].str.replace('Kwon, Eunice; Block Nicole','Kwon; Block')
df['Instructor']=df['Instructor'].str.replace('Kwon, Eunice; Block, Nicole','Kwon; Block')
df['Instructor']=df['Instructor'].str.replace('Kwon, Eunice; Milloy, Cynthia','Kwon; Milloy')
df['Instructor']=df['Instructor'].str.replace('Laitinen, Dana','Laitinen')
df['Instructor']=df['Instructor'].str.replace('Lane, Nancy','Lane')
df['Instructor']=df['Instructor'].str.replace('LaValley, Kara','LaValley')
df['Instructor']=df['Instructor'].str.replace('Lawson-Rogers, Kate','Lawson-Rogers')
df['Instructor']=df['Instructor'].str.replace('Lawson Rogers, Kate','Lawson-Rogers')
df['Instructor']=df['Instructor'].str.replace('Le, Sam','Le')
df['Instructor']=df['Instructor'].str.replace('Leavitt, Aaron','Leavitt')
df['Instructor']=df['Instructor'].str.replace('Logan, Angela','Logan')
df['Instructor']=df['Instructor'].str.replace('Longo, Elizabeth','Longo')
df['Instructor']=df['Instructor'].str.replace('Longo; Brann, Sam','Brann; Longo')
df['Instructor']=df['Instructor'].str.replace('Longo, Elizabeth and Paget, Emily','Longo; Paget')
df['Instructor']=df['Instructor'].str.replace('Longo and Paget','Longo; Paget')
df['Instructor']=df['Instructor'].str.replace('Longo, Elizabeth Mumpower, Patrick','Longo; Mumpower')
df['Instructor']=df['Instructor'].str.replace('Longo Mumpower','Longo; Mumpower')
df['Instructor']=df['Instructor'].str.replace('Longo, Elizabeth; Brann, Sam','Brann; Longo')
df['Instructor']=df['Instructor'].str.replace('Longo; Davis, Allison','Davis; Longo')
df['Instructor']=df['Instructor'].str.replace('Longo, Elizabeth; Davis, Allison','Davis; Longo')
df['Instructor']=df['Instructor'].str.replace('Longo, Elizabeth; Medvedeff, Michelle','Longo; Medvedeff')
df['Instructor']=df['Instructor'].str.replace('Lotze, Shirley','Lotze')
df['Instructor']=df['Instructor'].str.replace('Lowder, Tiffany','Lowder')
df['Instructor']=df['Instructor'].str.replace('Luengo, Lisa','Luengo')
df['Instructor']=df['Instructor'].str.replace('Lundquist, Wendy','Lundquist')
df['Instructor']=df['Instructor'].str.replace('Lynch, Steve','Lynch')
df['Instructor']=df['Instructor'].str.replace('Lynes, Debbie','Lynes')
df['Instructor']=df['Instructor'].str.replace('Ma, Lily','Ma')
df['Instructor']=df['Instructor'].str.replace('Manzer, Michael','Manzer')
df['Instructor']=df['Instructor'].str.replace('Manzer, Mike','Manzer')
df['Instructor']=df['Instructor'].str.replace('Manzer, Michael; Medvedeff, Michelle','Manzer; Medvedeff')
df['Instructor']=df['Instructor'].str.replace('Manzer, Michelle; Barnes, Priscilla','Barnes; Manzer')
df['Instructor']=df['Instructor'].str.replace('Marr, Ken','Marr')
df['Instructor']=df['Instructor'].str.replace('Marshman, Michelle','Marshman')
df['Instructor']=df['Instructor'].str.replace('Martin / Corrin','Aley; Martin')
df['Instructor']=df['Instructor'].str.replace('Martin, Aley','Martin. A')
df['Instructor']=df['Instructor'].str.replace('Martin, Glen; Corrin, Genevieve','Corrin; Martin')
df['Instructor']=df['Instructor'].str.replace('Martin, Glen; Corrin','Corrin; Martin')
df['Instructor']=df['Instructor'].str.replace('Mason, Tim','Mason')
df['Instructor']=df['Instructor'].str.replace('Matyushkina, Yuliya','Matyushkina')
df['Instructor']=df['Instructor'].str.replace('Maurus, Tracey','Maurus')
df['Instructor']=df['Instructor'].str.replace('McAdams, Charity','McAdams')
df['Instructor']=df['Instructor'].str.replace('McCabe, Tonya','McCabe')
df['Instructor']=df['Instructor'].str.replace('McCaul, Gene','McCaul')
df['Instructor']=df['Instructor'].str.replace('McClary, Dawn; Brann, Sam','Brann; McClary')
df['Instructor']=df['Instructor'].str.replace('Medvedeff, Michelle','Medvedeff')
df['Instructor']=df['Instructor'].str.replace('Medvedeff; Brann, Sam','Brann; Medvedeff')
df['Instructor']=df['Instructor'].str.replace('Medvedeff, Michelle; Berry-Chee, Hannah','Berry-Chee; Medvedeff')
df['Instructor']=df['Instructor'].str.replace('Medvedeff, Michelle; Berry-Chee, Hannah; Manzer, Michael','Berry-Chee; Manzer; Medvedeff')
df['Instructor']=df['Instructor'].str.replace('Medvedeff, Michelle; Brann, Sam','Brann; Medvedeff')
df['Instructor']=df['Instructor'].str.replace('Medvedeff, Michelle; Manzer, Michael','Manzer; Medvedeff')
df['Instructor']=df['Instructor'].str.replace('Millan, Patrick','Milian')
df['Instructor']=df['Instructor'].str.replace('Milian, Patrick','Milian')
df['Instructor']=df['Instructor'].str.replace('Milloy, Cythia','Milloy')
df['Instructor']=df['Instructor'].str.replace('Modzleweski, Ann','Modzleweski')
df['Instructor']=df['Instructor'].str.replace('Moore, Julie','Moore')
df['Instructor']=df['Instructor'].str.replace('Morado, Carlos','Morado')

df['Instructor']=df['Instructor'].str.replace('Morado; Terpay, Eugene; Rivera, Jen Blake','Morado; Rivera; Terpay')
df['Instructor']=df['Instructor'].str.replace('Morado, Carlos; Terpay, Eugene; Rivera, Jen Blake','Morado; Rivera; Terpay')
df['Instructor']=df['Instructor'].str.replace('Moreno, Michael','Moreno')
df['Instructor']=df['Instructor'].str.replace('Mueller, Ruth','Mueller R.')
df['Instructor']=df['Instructor'].str.replace('Mueller, Sonia; Older, Lina','Mueller S.; Older')
df['Instructor']=df['Instructor'].str.replace('Mumpower, Patrick','Mumpower')
df['Instructor']=df['Instructor'].str.replace('Mumpower; Cooke, Sam','Cooke; Mumpower')

df['Instructor']=df['Instructor'].str.replace('Mumpower; Kwon, Eunice','Kwon; Mumpower')
df['Instructor']=df['Instructor'].str.replace('Mumpower, Patrick; Cooke, Sam','Cooke; Mumpower')
df['Instructor']=df['Instructor'].str.replace('Mumpower, Patrick; Kwon, Eunice','Kwon; Mumpower')
df['Instructor']=df['Instructor'].str.replace('Mumpower, Patrick; McDaniel, Tim','McDaniel; Mumpower')
df['Instructor']=df['Instructor'].str.replace('Mumpower; McDaniel, Tim','McDaniel; Mumpower')
df['Instructor']=df['Instructor'].str.replace('Neffenger, Carel','Neffenger')
df['Instructor']=df['Instructor'].str.replace('Nelson, Ericka','Nelson E.')
df['Instructor']=df['Instructor'].str.replace('Nelson, Jessica','Nelson, J.')
df['Instructor']=df['Instructor'].str.replace('Nelson, Lisa','Nelson, L.')
df['Instructor']=df['Instructor'].str.replace('Ng, Eric','Ng')
df['Instructor']=df['Instructor'].str.replace('Norberg, David','Norberg')
df['Instructor']=df['Instructor'].str.replace('Older, Lina; Mueller, Sonja; Whittingham, Amy','Mueller; Older; Whittingham')
df['Instructor']=df['Instructor'].str.replace('Olsen, Alan','Olson')
df['Instructor']=df['Instructor'].str.replace('Paget, Emily','Paget')
df['Instructor']=df['Instructor'].str.replace('Pappuleas, Veronica','Pappuleas')
df['Instructor']=df['Instructor'].str.replace('Patt, Jason','Patt')
df['Instructor']=df['Instructor'].str.replace('Perdue, Carol','Perdue')
df['Instructor']=df['Instructor'].str.replace('Perdue, Carol; Wilson-Hill, Linda','Perdue; Wilson-Hill')
df['Instructor']=df['Instructor'].str.replace('Pettey, Sara','Pettey')
df['Instructor']=df['Instructor'].str.replace('Pfaff, Cosette','Pfaff')
df['Instructor']=df['Instructor'].str.replace('Pittser, Lina','Pittser')
df['Instructor']=df['Instructor'].str.replace('Pollard-Johnson, Lori','Pollard-Johnson')
df['Instructor']=df['Instructor'].str.replace('Pope, Geoff','Pope')
df['Instructor']=df['Instructor'].str.replace('Potsubay, Richard','Potsubay')
df['Instructor']=df['Instructor'].str.replace('Puri, Amandeep','Puri')
df['Instructor']=df['Instructor'].str.replace('Qaasim, Andaiye','Qaasim')
df['Instructor']=df['Instructor'].str.replace('Reilly, Suzanne','Reilly')
df['Instructor']=df['Instructor'].str.replace('Reiser, Megan','Reiser')
df['Instructor']=df['Instructor'].str.replace('Richard, Angela','Richard')
df['Instructor']=df['Instructor'].str.replace('Riley, Ron','Riley')
df['Instructor']=df['Instructor'].str.replace('Roberge, Nadine','Roberge')
df['Instructor']=df['Instructor'].str.replace('Robinson, Spunky','Robinson')
df['Instructor']=df['Instructor'].str.replace('Rohan, Jennifer; Stratton','Rohan; Straton')
df['Instructor']=df['Instructor'].str.replace('Rooney, Ari','Rooney')
df['Instructor']=df['Instructor'].str.replace('Rosemond, Harry','Rosemond')
df['Instructor']=df['Instructor'].str.replace('Rutherford, Kay','Rutherdord')
df['Instructor']=df['Instructor'].str.replace('Sain, Charlene','Sain')
df['Instructor']=df['Instructor'].str.replace('Schaefer, Amanda','Schaefer')
df['Instructor']=df['Instructor'].str.replace('Scott, Will','Scott')
df['Instructor']=df['Instructor'].str.replace('Sharpe, Shannon','Sharpe')
df['Instructor']=df['Instructor'].str.replace('Shaw, Katy','Shaw')
df['Instructor']=df['Instructor'].str.replace('Sheneberger, Heidi','Sheneberger')
df['Instructor']=df['Instructor'].str.replace('Shepard, Bret','Shepard')
df['Instructor']=df['Instructor'].str.replace('Sherman, Ian','Sherman')
df['Instructor']=df['Instructor'].str.replace('Sherwood, Mary Jane','Sherwood')
df['Instructor']=df['Instructor'].str.replace('Sims, Marcie','Sims')
df['Instructor']=df['Instructor'].str.replace('Sjogren, Rob','Sjogren')
df['Instructor']=df['Instructor'].str.replace('Smith, Anthony','Smith, A.')
df['Instructor']=df['Instructor'].str.replace('Smith, Lindsey','Smith, L.')
df['Instructor']=df['Instructor'].str.replace('Solomonson, Chitra','Solomonson')
df['Instructor']=df['Instructor'].str.replace('Sorg, Renate','Sorg')
df['Instructor']=df['Instructor'].str.replace('Sorg; McDaniels, Tim; Longo','Longo; McDaniels; Sorg')
df['Instructor']=df['Instructor'].str.replace('Sorg, Renate; McDaniels, Tim; Longo, Elizabeth','Longo; McDaniels; Sorg')
df['Instructor']=df['Instructor'].str.replace('Stephens, Jimmy','Stephans')
df['Instructor']=df['Instructor'].str.replace('Sutlovich, Kari','Sutlovich')
df['Instructor']=df['Instructor'].str.replace('Swanson, Megan','Swanson')
df['Instructor']=df['Instructor'].str.replace('Swenson, Mary Jane','Swenson')
df['Instructor']=df['Instructor'].str.replace('Teal, Caleb','Teal')
df['Instructor']=df['Instructor'].str.replace('Terpay, Eugene; Cook, Sam; Mupower, Patrick','Cooke; Mumpower; Terpay')
df['Instructor']=df['Instructor'].str.replace('Terpay, Eugene; Cooke, Sam; Mumpower, Patrick','Cooke; Mumpower; Terpay')
df['Instructor']=df['Instructor'].str.replace('Terpay, Eugene; Gustafson, Amy','Gustafson; Terpay')
df['Instructor']=df['Instructor'].str.replace('Terpay, Eugene; Gustafson','Gustafson; Terpay')
df['Instructor']=df['Instructor'].str.replace('Thomason, Mark','Thomason')
df['Instructor']=df['Instructor'].str.replace('Thompson, Roni','Thompson, R.')
df['Instructor']=df['Instructor'].str.replace('Thompson, Sam','Thompson, S.')
df['Instructor']=df['Instructor'].str.replace('Tice, Richard','Tice')
df['Instructor']=df['Instructor'].str.replace('Tran, Trysteen','Tran')
df['Instructor']=df['Instructor'].str.replace('Voso, Lisa','Voso')
df['Instructor']=df['Instructor'].str.replace('Wainstein, Leonard','Wainstein')
df['Instructor']=df['Instructor'].str.replace('Walsh, Amanda','Walsh')
df['Instructor']=df['Instructor'].str.replace('Warnke, Anthony','Warnke')
df['Instructor']=df['Instructor'].str.replace('Waters, Adam','Waters')
df['Instructor']=df['Instructor'].str.replace('Weatherly, Patrick','Weatherly')
df['Instructor']=df['Instructor'].str.replace('Webster-Williams, Dawn','Webster-Williams')
df['Instructor']=df['Instructor'].str.replace('Weller, Daniel','Weller')
df['Instructor']=df['Instructor'].str.replace('Wood, Mike','Wood')
df['Instructor']=df['Instructor'].str.replace('Wetzel, Ariel','Wetzel')
df['Instructor']=df['Instructor'].str.replace('Williams, Michelle','Williams')
df['Instructor']=df['Instructor'].str.replace('Wilson-Hill, Linda','Wilson-Hill')
df['Instructor']=df['Instructor'].str.replace('Whitford, Philip','Whitford')
df['Instructor']=df['Instructor'].str.replace('Rohan, Jennifer; Stratton, Katie','Stratton; Rohan')
df['Instructor']=df['Instructor'].str.replace('Rohan, Jennifer; Straton, Katie','Stratton; Rohan')
df['Instructor']=df['Instructor'].str.replace('Straton, Katie','Stratton')
df['Instructor']=df['Instructor'].str.replace('Stratton, Katie','Stratton')
df['Instructor']=df['Instructor'].str.replace('Bull, Alaina; DelliSante, Christina; Petrich, Marisa; Whitford, Philip','Bull; DelliSante; Petrich; Whitford')
df['Instructor']=df['Instructor'].str.replace('Bull, Alaina; DelliSante, Christina; Petrich, Marisa; Whitford','Bull; DelliSante; Petrich; Whitford')
df['Instructor']=df['Instructor'].str.replace('Bull, Alaina; Petrich, Marisa; Rohan, Jennifer; Whitford, Philip','Bull; Petrich; Rohan; Whitford')
df['Instructor']=df['Instructor'].str.replace('Bull, Alaina; Petrich, Marisa; Rohan, Jennifer; Whitford','Bull; Petrich; Rohan; Whitford')
df['Instructor']=df['Instructor'].str.replace('Bull, Alaina; Petrich, Marisa; Segal, Jody; Whitford, Philip','Bull; Petrich; Segal; Whitford')
df['Instructor']=df['Instructor'].str.replace('Bull, Alaina; Petrich, Marisa; Segal, Jody; Whitford','Bull; Petrich; Segal; Whitford')
df['Instructor']=df['Instructor'].str.replace('DelliSante, Christina; Keany, Mary; Stratton, Katie; Whitford, Philip','DelliSante; Keany; Stratton; Whitford')
df['Instructor']=df['Instructor'].str.replace('DelliSante, Christina; Keany, Mary; Straton, Katie; Whitford, Philip','DelliSante; Keany; Stratton; Whitford')
df['Instructor']=df['Instructor'].str.replace('Cunnion, Katie; Jocson Porter, Alyssa; Karimova, Olga; Whitford, Philip','Cunnion; Jocson Porter; Karimova; Whitford')
df['Instructor']=df['Instructor'].str.replace('Cunnion, Katie; Jocson Porter, Alyssa; Karimova, Olga; Whitford','Cunnion; Jocson Porter; Karimova; Whitford')
df['Instructor']=df['Instructor'].str.replace('DelliSante, Christina; Petrich, Marisa; Whitford, Philip','DelliSante; Petrich; Whitford')
df['Instructor']=df['Instructor'].str.replace('DelliSante, Christina; Petrich, Marisa; Whitford','DelliSante; Petrich; Whitford')
df['Instructor']=df['Instructor'].str.replace('DelliSante, Christina; Keany, Mary; Stratton; Whitford','DelliSante; Keany; Stratton; Whitford')
df['Instructor']=df['Instructor'].str.replace('Fisher, Zoe; Petrich, Marisa; Whitford, Philip','Fisher; Petrich; Whitford')
df['Instructor']=df['Instructor'].str.replace('Fisher, Zoe; Petrich, Marisa; Whitford','Fisher; Petrich; Whitford')
df['Instructor']=df['Instructor'].str.replace('Jocson Porter, Alyssa; Karimova, Olga','Jocson Porter; Karimova')
df['Instructor']=df['Instructor'].str.replace('Jocson Porter, Alyssa; Schub, Sue; Stratton, Katie','Jocson Porter; Schub; Stratton')
df['Instructor']=df['Instructor'].str.replace('Jocson Porter, Alyssa; Schub, Sue; Straton, Katie','Jocson Porter; Schub; Stratton')
df['Instructor']=df['Instructor'].str.replace('Jocson Porter, Alyssa; Stratton, Katie','Jocson Porter; Stratton')
df['Instructor']=df['Instructor'].str.replace('Jocson Porter, Alyssa; Straton, Katie','Jocson Porter; Stratton')
df['Instructor']=df['Instructor'].str.replace('Jocson Porter, Alyssa; Schub, Sue; Stratton','Jocson Porter; Schub; Stratton')
df['Instructor']=df['Instructor'].str.replace('Jocson Porter, Alyssa; Stratton','Jocson Porter; Stratton')

df['Instructor']=df['Instructor'].str.replace('Karimova, Olga; Whitford, Philip','Karimova; Whitford')
df['Instructor']=df['Instructor'].str.replace('Karimova, Olga; Whitford','Karimova; Whitford')
df['Instructor']=df['Instructor'].str.replace('Karimova, Olga; Wood, Mike','Karimova; Wood')
df['Instructor']=df['Instructor'].str.replace('Karimova, Olga; Wood','Karimova; Wood')
df['Instructor']=df['Instructor'].str.replace('Reibel, Allison; Whitford, Philip','Reibel; Whitford')
df['Instructor']=df['Instructor'].str.replace('Reibel, Allison; Whitford','Reibel; Whitford')
df['Instructor']=df['Instructor'].str.replace('Work, David','Work')


#download new file under new name
df.to_excel("TestNames_Cleaned 2012_22Library.xlsx")

                Name       Librarian      Quarter Department   Course  \
1     Jennifer Rohan  Jennifer Rohan    Fall 2017       AMES  AMES100
2     Jennifer Rohan  Jennifer Rohan  Winter 2018       AMES  AMES100
3     Jennifer Rohan  Jennifer Rohan  Winter 2018       AMES  AMES100
4     Jennifer Rohan  Jennifer Rohan    Fall 2018       AMES  AMES100
5     Jennifer Rohan  Jennifer Rohan  Spring 2019       AMES  AMES100
...              ...             ...          ...        ...      ...
1796  Allison Reibel  Allison Reibel  Spring 2017         TS    TS101
1797  Allison Reibel  Allison Reibel  Spring 2017         TS    TS101
1798  Marisa Petrich  Marisa Petrich    Fall 2016         TS    TS101
1799       Mike Wood       Mike Wood  Spring 2014         TS    TS101
1800  Marisa Petrich  Marisa Petrich    Fall 2016         TS    TS101

     Section Number    Instructor  Number of Students  Number of Sessions  \
1              0187  Andresen, T.                33.0                 1.0
2              0179  Andresen, T.                37.0                 1.0
3              0183  Andresen, T.                31.0                 1.0
4              0167  Andresen, T.                29.0                 2.0
5              0165  Andresen, T.                30.0                 1.0
...             ...           ...                 ...                 ...
1796           8319     Gustafson                19.0                 1.0
1797           8323     Gustafson                24.0                 1.0
1798            NaN        Kinerk                18.0                 1.0
1799           8034         Lynch                 4.0                 1.0
1800           8903     Sutlovich                18.0                 1.0

      Online Synchronous or Asynch. Only?  Online Synchronous  Asynchronous  \
1                                   False               False         False
2                                   False               False         False
3                                   False               False         False
4                                   False               False         False
5                                   False               False         False
...                                   ...                 ...           ...
1796                                False               False         False
1797                                False               False         False
1798                                False               False         False
1799                                False               False         False
1800                                False               False         False

      Authority Is Constructed and Contextual  \
1                                       False
2                                       False
3                                       False
4                                       False
5                                        True
...                                       ...
1796                                    False
1797                                    False
1798                                    False
1799                                    False
1800                                    False

      Information Creation as a Process  Information Has Value  \
1                                 False                  False
2                                 False                  False
3                                 False                  False
4                                 False                  False
5                                 False                  False
...                                 ...                    ...
1796                              False                  False
1797                              False                  False
1798                              False                  False
1799                              False                  False
1800                              False                  False

      Research as Inquiry  Research as Inquiry  \
1                    True                False
2                    True                False
3                    True                False
4                    True                False
5                   False                False
...                   ...                  ...
1796                False                False
1797                False                False
1798                False                False
1799                False                False
1800                False                False

      Searching as Strategic Exploration  \
1                                  False
2                                  False
3                                  False
4                                  False
5                                   True
...                                  ...
1796                                True
1797                                True
1798                                True
1799                               False
1800                                True

      Face to Face class with additional online instruction
1                                                 False
2                                                 False
3                                                 False
4                                                 False
5                                                 False
...                                                 ...
1796                                              False
1797                                              False
1798                                              False
1799                                              False
1800                                              False

[1800 rows x 19 columns]